Flask==3.0.0
tensorflow-datasets
tensorflow-hub
scipy
matplotlib
pandas
numpy
torch
torchvision
opencv-python-headless
fastapi
uvicorn
diffusers       # [jungjw] 빌드시 오류로 추가 설치
transformers    # [jungjw] 빌드시 오류로 추가 설치
accelerate
keybert
# request
# cv2
